* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  padding: 5px;
}

ul {
  list-style: none;
}

.slider {
  max-width: 500px;
  overflow: hidden;
  position: relative;
}

.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slider img.active {
  opacity: 1;
}
